# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries
.idea/k5lib.iml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

MANIFEST
doc/_build/doctrees/authenticate.doctree
doc/_build/doctrees/compute.doctree
doc/_build/doctrees/contract.doctree
doc/_build/doctrees/image.doctree
doc/_build/doctrees/network.doctree
doc/_build/doctrees/orchestration.doctree
doc/_build/doctrees/utils.doctree
doc/_build/html/_sources/authenticate.rst.txt
doc/_build/html/_sources/compute.rst.txt
doc/_build/html/_sources/contract.rst.txt
doc/_build/html/_sources/image.rst.txt
doc/_build/html/_sources/network.rst.txt
doc/_build/html/_sources/orchestration.rst.txt
doc/_build/html/_sources/utils.rst.txt
/examples/.directory
doc/_build/doctrees/lb.doctree
doc/_build/doctrees/vpn.doctree
doc/_build/html/_sources/lb.rst.txt
doc/_build/html/_sources/vpn.rst.txt
doc/_build/html/_static/lb.rst
doc/_build/html/_static/vpn.rst
doc/_build/html/lb.html
doc/_build/html/vpn.html
examples/.directory
